aiohttp==3.9.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
attrs==23.1.0
axios==0.4.0
click==8.1.7
cycler==0.12.1
dacite==1.8.1
Django==5.0.1
dnspython==2.6.1
docutils==0.20.1
EasyProcess==1.1
email_validator==2.2.0
entrypoint2==1.1
escape==1.1
et-xmlfile==1.1.0
executing==2.0.1
filelock==3.13.3
Flask==3.0.2
Flask-Cors==4.0.1
Flask-SQLAlchemy==3.1.1
